html
{
	width:100%;
	
	background-image:url("../images/NYC.jpg");
	background-size:cover;
}

body
{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	height:100%;
	
	
	
}

#menu
{
	width:100%;
	top:0;
	left:0;
	right:0;
	position:fixed;
	
	background-color:#B9121B;
	background-size:cover;
	height: 80px;
	
}
#nav
{
	font-family: 'Lobster', cursive;
	
}

#titre
{
	font-family: 'Quicksand', sans-serif;
}

#titrepage
{
	text-align:center;
	font-family: 'Quicksand', sans-serif;
}

#menu #titre
{
	float:left;
	padding-top:2.5px;
	margin-left:20px;
	width:25%;
	
}

#contenu
{
	padding-top:130px;
	
}


ul li 
{
	display:inline-block;
	padding-top:5px;
	font-size: 25px;
	margin-right:12%;
}

ul li a 
{
	text-decoration:none;
	color:black;
	padding:5px;
}

ul li a:hover
{
	transition-duration:0.2s;
	border-bottom:6px solid black;
	padding-bottom:3px;
	
	
}

.divVip
{
	display:inline-block;
	
	border:3px solid black;
	border-radius:10px 10px 10px 10px;
	text-align:center;
	background-color:#B9121B;
	color:black;
	font-weight:bold;
	font-family: 'Lobster', cursive;
	margin-top:15px;
	margin-right:10px;
	
}

.filtre
{
	
	width:80%;
	
}

.imageVip
{
	width:170px;
	height:200px;
	border-radius:10px 10px 0 0;
	border-bottom:2px solid black;
}

.form
{
	border-radius:10px 10px 10px 10px;
	border:2px solid black;
	width:200px;
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	
}

.btnrech
{
	border-radius:10px 10px 10px 10px;
	border:2px solid black;
	width:150px;
	font-family: 'Quicksand', sans-serif;
	color:black;
	background-color:#B9121B;
	font-weight:bold;
}